*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
}

header {
  background-color: orange;
  color: white;
  align-items: center;
  padding: 1.5rem;
  display: flex;
  justify-content: space-around;
}

.Intro {
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;
  background-color: lightgray;
}

.Intro h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.Intro h2 {
  max-width: 600px;
}

.Team {
  padding: 4rem 2rem;
  background-color: white;
}

.Members {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2rem;
}

.Members div {
  width: 150px;
  height: 150px;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
}

.Max {
  background-image: url("./assets/image.jpg");
  background-size: cover;
  background-position: center;
}

.Mula {
  background-image: url("./assets/mula.png");
  background-size: cover;
  background-position: center;
}

.Sosa {
  background-image: url("https://s.yimg.com/ny/api/res/1.2/AGZl.8oRShGELiqyTqeY8w--/YXBwaWQ9aGlnaGxhbmRlcjt3PTEyNDI7aD0xODYzO2NmPXdlYnA-/https://s.yimg.com/os/creatr-uploaded-images/2025-05/ca89f6e0-384a-11f0-9f55-f09d4d76d9a4");
  background-size: cover;
  background-position: center;
}

.Work {
  padding: 4rem 2rem;
  background-color: white;
}

.Items {
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
}

.Items div {
  flex: 1;
  height: 150px;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.One {
  background-image: url("https://scene7.zumiez.com/is/image/zumiez/product_main_medium/Cookies-x-Glo-Gang-Sun-C-Bite-Black-Zip-Hoodie-_399409.jpg");
  background-size: cover;
  background-position: center;
}

.Two {
  background-image: url("https://i1.sndcdn.com/artworks-5LkW3lXxGkEY-0-t500x500.jpg");
  background-size: cover;
  background-position: center;
}

.Three {
  background-image: url("https://glogangworldwide.com/cdn/shop/files/8B6A6417.jpg?v=1756490245&width=1100");
  background-size: cover;
  background-position: center;
}

footer {
  background-color: black;
  color: white;
  padding: 2rem;
}

.Links {
  display: flex;
  gap: 1rem;
}

.Links a {
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
}

.ButtonCopyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

.Button {
  padding: 0.75rem 1.25rem;
  background-color: orange;
  color: white;
}

.Copyright {
  font-size: 0.75rem;
}
