*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
}

header {
  background-color: orange;
  color: white;
  align-items: center;
  padding: 1.5rem;
  display: flex;
  justify-content: space-around;
}

.Intro {
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;
  background-color: lightgray;
}

.Intro h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.Intro h2 {
  max-width: 600px;
}

.Team {
  padding: 4rem 2rem;
  background-color: black;
}

.Members {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2rem;
}

.Members div {
  width: 150px;
  height: 150px;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.Work {
  padding: 4rem 2rem;
  background-color: #eaeaea;
}

.Items {
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
}

.Items div {
  flex: 1;
  height: 150px;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}

