*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
  margin: 0px;
  padding: 30px;
  background-color: orange;
  color: white;
  display: flex;
  justify-content: flex-end;
}

.Members {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
