*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
}

header {
  background-color: orange;
  color: white;
  align-items: center;
  padding: 1.5rem;
  display: flex;
  justify-content: space-around;
}

.Intro {
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;
  background-color: white;
}

.Intro h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.Intro h2 {
  max-width: 600px;
}

.Members {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
