*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
}

header {
  background-color: orange;
  color: white;
  align-items: center;
  padding: 1.5rem;
  display: flex;
  justify-content: space-around;
}

.Members {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
